*{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h2{
    background-color: black;
    color: white;
    padding: 10px;
    border-radius: 30px;
}
#form-loader-btn{
    background-color: green;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-bottom: 10px;
}
#form-loader-btn:hover{
    background-color: darkgreen;
}